body {
    color:blue;
    background-color: red;
}

.main-content{
  background-image: url("logo.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: white;
 }






 h4 {
    color: red;
 }