<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign Up</title>
    <link href="style.css" th:href="@{style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background-image: url(./main.png)">

<div class="container-fluid  vh-100 " >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Easy Peasy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="shadow p-3 mb-3 bg-white rounded">
        <h1> List of recipes</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Recipe
        </button>
    </div>

    <div id = "productsJson" class="row mt-3" >

    </div>

</div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="staticBackdropLabel"> Add Recipe </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" placeholder="title recipe" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ingredients">Ingredient</label>
                    <input type="text" id="ingredients" placeholder="ingredients of the recipe" class="form-control">
                </div>
                <div class="form-group">
                    <label for="imglink">Image Link</label>
                    <input type="text" id="imglink" placeholder="image link " class="form-control">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addrecipe">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
         $(document).ready(function(){
            $.getJSON("http://localhost:8083/recipe", function(result){
               $.each(result, function(key,value) {
                   //value[i].content +" " + value[i].ingredients + " " + value[i].likesCount + "" +
                    for (i = 0; i < value.length; i++) {
                        $("#productsJson").append("<div class =\"col-4 shadow p-3 mb-5 bg-white rounded\"><img class=\"img-fluid w-100\" src=\"" + value[i].imageLink + "\"/><h6 class=\"font-weight-bold\"> " +  value[i].title + "</h6></div>" );
                    }
               });

              $("#addrecipe").on("click",function(){
                    alert($("#title").val());
                    $.ajax({
                        type: 'POST',
                        url: '/recipe',
                        data: JSON.stringify({
                            "title":$("#title").val(),
                             "content": $("#content").val(),
                             "ingredients": $("#ingredients").val(),
                             "imageLink": $("#imglink").val()}),
                        success: function(data) { alert('data: ' + data); },
                        contentType: "application/json",
                        dataType: 'json'
                    });
              });
            });
         });
</script>


</body>
</html>