<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign Up</title>
    <link href="style.css" th:href="@{style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background-image: url(./main.png)">

<div class=" container-fluid  vh-100 " >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Easy Peasy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>

    <div class="row mt -5 ml-5 " style="margin-top:90px; margin-bottom:150px;">
        <div class="col-5 d-flex justify-content-center p-0">
           <img src="/logo.png"  class="w-100 "/>
        </div>
        <div class="col-7 shadow-sm p-3 mb-5 bg-white rounded ">
            <h3> Register </h3>
            <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Last Name</label>
                    <input type="email" th:field="*{email}" id="email" placeholder="email" class="form-control">
                </div>

                <label for="pw">Email</label>
                <input type="password" th:field="*{password}" id="pw" placeholder="your password" class="form-control">

                <input type="submit" value="Sign Up" class=" mt-3 btn btn-primary">
            </form>

        </div>
    </div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>